extends include/layout.pug
block head-area-extra-css
	link(rel='stylesheet', href='/css/admin/publishArticle.css')

block body-area-contents
	.box
		dl
			dt 标题
			dd
				input#title(type="text")
		dl
			dt 路径
			dd
				input#src(type="text")
		dl
			dt 分类
			dd
				select#label
					each val,index in labelList
						option(value= val.labelId)= val.name

		//-dl
			dt 内容
			dd
				textarea#text(rows='10',cols='80')
		
		dl
			dt &nbsp;
			dd
				input#publis(type="button" value="发布")

block body-area-script
	script(src='/js/layer/layer.js')
	script(src='/js/admin/publishArticle.js')