<!DOCTYPE html><html><head><title>Untitled</title><meta charset='utf-8'><link href='https://dn-maxiang.qbox.me/res-min/themes/marxico.css' rel='stylesheet'><style>
.note-content  {font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;}

</style></head><body><div id='preview-contents' class='note-content'>
                        
                    

<p>一、angular 循环数组</p>

<p>1.正常情况下</p>

<pre class="prettyprint hljs-dark"><code class="hljs django"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">ng-repeat</span>=<span class="hljs-string">"item in arr"</span>&gt;</span></span><span class="hljs-template-variable">{{item}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span></span><br></code></pre>

<p>2.需要数组下标的时候</p>

<pre class="prettyprint hljs-dark"><code class="hljs django"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">ng-repeat</span>=<span class="hljs-string">"(k,v) in arr"</span>&gt;</span></span><span class="hljs-template-variable">{{k}}</span><span class="xml">:</span><span class="hljs-template-variable">{{v}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span></span><br></code></pre>

<p>3..数组里有重复元素的时候</p>

<pre class="prettyprint hljs-dark"><code class="hljs django"><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">ng-repeat</span>=<span class="hljs-string">"item in arr track by $index"</span>&gt;</span></span><span class="hljs-template-variable">{{item}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span></span><br></code></pre>

<p>二、angular循环json</p>

<pre class="prettyprint hljs-dark"><code class="hljs django"><span class="xml"> <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">ng-repeat</span>=<span class="hljs-string">"(k,v) in json"</span>&gt;</span></span><span class="hljs-template-variable">{{k}}</span><span class="xml">:</span><span class="hljs-template-variable">{{v}}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span></span><br></code></pre>

<p>三、输入框、下拉框的双向绑定</p>

<pre class="prettyprint hljs-dark"><code class="hljs xquery">&lt;input ng-model=<span class="hljs-string">"a"</span>&gt;<br>&lt;select ng-model=<span class="hljs-string">"a"</span>&gt;<br>    &lt;<span class="hljs-keyword">option</span> <span class="hljs-keyword">value</span>=<span class="hljs-string">"1"</span>&gt;北京&lt;/<span class="hljs-keyword">option</span>&gt;<br>    &lt;<span class="hljs-keyword">option</span> <span class="hljs-keyword">value</span>=<span class="hljs-string">"2"</span>&gt;上海&lt;/<span class="hljs-keyword">option</span>&gt;<br>    &lt;<span class="hljs-keyword">option</span> <span class="hljs-keyword">value</span>=<span class="hljs-string">"3"</span>&gt;广州&lt;/<span class="hljs-keyword">option</span>&gt;<br>    &lt;<span class="hljs-keyword">option</span> <span class="hljs-keyword">value</span>=<span class="hljs-string">"4"</span>&gt;深圳&lt;/<span class="hljs-keyword">option</span>&gt;<br>&lt;/select&gt;<br></code></pre>

<p>四、监视变量变化</p>

<pre class="prettyprint hljs-dark"><code class="hljs php">$scope.$watch(<span class="hljs-string">'arr'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{<br>    console.log(<span class="hljs-number">1</span>);<br>},<span class="hljs-keyword">true</span>);<span class="hljs-comment">//true参数是深度监视</span><br></code></pre>

<p>五、定时器</p>

<pre class="prettyprint hljs-dark"><code class="hljs php">mod.controller(<span class="hljs-string">'myCtrl'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">($scope, $http, $interval)</span> </span>{<br>    $scope.a = <span class="hljs-number">0</span>;<br>    let timer = $interval(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{ <br>        $scope.a++;<br>        <span class="hljs-keyword">if</span> ($scope.a === <span class="hljs-number">100</span>) {<br>            $interval.cancel(timer);<br>        }<br>    }, <span class="hljs-number">100</span>);<br>});<br></code></pre>

<blockquote>
  <p>注：$timeout 用法类似</p>
</blockquote>

<p>六、依赖注入</p>

<p>wiki 上的解释是：依赖注入（Dependency Injection，简称DI）是一种软件设计模式，在这种模式下，一个或更多的依赖（或服务）被注入（或者通过引用传递）到一个独立的对象（或客户端）中，然后成为了该客户端状态的一部分。 <br>
该模式分离了客户端依赖本身行为的创建，这使得程序设计变得松耦合，并遵循了依赖反转和单一职责原则。与服务定位器模式形成直接对比的是，它允许客户端了解客户端如何使用该系统找到依赖</p>

<pre class="prettyprint hljs-dark"><code class="hljs yaml"><span class="hljs-string">一句话</span> <span class="hljs-meta">---</span> <span class="hljs-string">没事你不要来找我，有事我会去找你。</span><br></code></pre>

<p>AngularJS 提供很好的依赖注入机制。以下5个核心组件用来作为依赖注入：</p>

<ul><li>value</li>
<li>factory</li>
<li>service</li>
<li>provider</li>
<li>constant</li>
</ul>

<p>七、controller里面如果有除了angular的以外的异步操作，将不会得到正确结果。eg:</p>

<pre class="prettyprint hljs-dark"><code class="hljs php">mod.controller(<span class="hljs-string">'myCtrl'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">($scope,$http)</span></span>{<br>    $scope.userArr =  [<span class="hljs-number">1</span>,<span class="hljs-number">2</span>,<span class="hljs-number">3</span>];<br>    setTimeout(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span></span>{<br>        $scope.userArr =  [<span class="hljs-number">11</span>,<span class="hljs-number">22</span>,<span class="hljs-number">33</span>];<br>    },<span class="hljs-number">3000</span>);<br>});<br></code></pre>

<p>解决办法是</p>

<pre class="prettyprint hljs-dark"><code class="hljs php">mod.controller(<span class="hljs-string">'myCtrl'</span>,<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">($scope,$http)</span></span>{<br>    $scope.userArr =  [<span class="hljs-number">1</span>,<span class="hljs-number">2</span>,<span class="hljs-number">3</span>];<br>    setTimeout(<span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span></span>{<br>        $scope.userArr =  [<span class="hljs-number">11</span>,<span class="hljs-number">22</span>,<span class="hljs-number">33</span>];<br>        $scope.$apply();<span class="hljs-comment">//注意这句话</span><br>    },<span class="hljs-number">3000</span>);<br>});<br></code></pre>

<p>八、$http数据交互</p>

<p>1.get请求</p>

<pre class="prettyprint hljs-dark"><code class="hljs scilab">$scope.getData = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span><br>    $http.get(<span class="hljs-string">'./getList'</span>, {<br>        params: {<br>            name: <span class="hljs-string">'qingh'</span>,<br>            password: <span class="hljs-string">'123456'</span><br>        }<br>    }).<span class="hljs-keyword">then</span>(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> {</span><br>        console.<span class="hljs-built_in">log</span>(data);<br>    }, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(err)</span> {</span><br>        console.<span class="hljs-built_in">log</span>(err);<br>    });<br>}<br></code></pre>

<p>2.post请求</p>

<pre class="prettyprint hljs-dark"><code class="hljs scilab">$scope.getData = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span><br>    $http.post(<span class="hljs-string">'./getUsers'</span>, {<br>        params: {<br>            a: <span class="hljs-number">12</span>,<br>            b: <span class="hljs-number">24</span><br>        }<br>    }).<span class="hljs-keyword">then</span>(<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(data)</span> {</span><br>        console.<span class="hljs-built_in">log</span>(data);<br>    }, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(err)</span> {</span><br>        console.<span class="hljs-built_in">log</span>(err);<br>    });<br>}<br></code></pre>

<p>3.jsonp</p>

<pre class="prettyprint hljs-dark"><code class="hljs">稍后做笔记<br></code></pre>

<p>九、过滤器</p>

<p>金额：</p>

<pre class="prettyprint hljs-dark"><code class="hljs lsl">    $scope.arr = [<span class="hljs-number">12.5</span>, <span class="hljs-number">5.8</span>, <span class="hljs-number">6.9</span>];<br>    li(ng-repeat=<span class="hljs-string">"data in arr"</span>) {{data|currency}}<br></code></pre>

<p>时间：</p>

<pre class="prettyprint hljs-dark"><code class="hljs sqf">$scope.<span class="hljs-built_in">time</span> = new <span class="hljs-built_in">Date</span>().getTime();<br>p 现在的时间是：{{<span class="hljs-built_in">time</span> | <span class="hljs-built_in">date</span>:<span class="hljs-string">'yyyy年MM月dd日 HH:mm:ss'</span>}}<br>p 现在的时间是：{{<span class="hljs-built_in">time</span> | <span class="hljs-built_in">date</span>:<span class="hljs-string">'yyyy-MM-dd HH:mm:ss'</span>}}<br></code></pre>

<p>自定义过滤器</p>

<pre class="prettyprint hljs-dark"><code class="hljs actionscript">app.filter(<span class="hljs-string">'my_filter'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> </span>{<br>    <span class="hljs-comment">//此处只会执行一次，好处可以进行初始化</span><br>    <span class="hljs-keyword">return</span> <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(str，arg)</span> </span>{<span class="hljs-comment">//此处可以有两个参数</span><br>        <span class="hljs-comment">//用几次，这里就执行几次</span><br>        <span class="hljs-keyword">return</span> str + <span class="hljs-string">'各种操作'</span>;<br>    }<br>});<br></code></pre>

<p>十、指令</p>

<pre class="prettyprint hljs-dark"><code class="hljs javascript">app.directive(<span class="hljs-string">'mydirective'</span>, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{<br>    <span class="hljs-keyword">let</span> json = {<br>        <span class="hljs-attr">restrict</span>: <span class="hljs-string">'A'</span>,<br>        <span class="hljs-comment">//template: '&lt;ng-transclude&gt;&lt;/ng-transclude&gt;&lt;a href="javascript:;"&gt;×&lt;/a&gt;',//第一种方式</span><br>        template: <span class="hljs-string">'&lt;span ng-transclude&gt;&lt;/span&gt;&lt;a href="javascript:;"&gt;×&lt;/a&gt;'</span>,<span class="hljs-comment">//第二种方式</span><br>        transclude: <span class="hljs-literal">true</span>,<br>        <span class="hljs-comment">//replace: true</span><br>    }<br><br>    <span class="hljs-keyword">return</span> json;<br>})<br></code></pre>

<p>restrict 可以设置以下几种值</p>

<ul><li>E —&gt;  Element        元素</li>
<li>A —&gt;  Attribute       属性</li>
<li>C —&gt;  Class              类</li>
<li>M —&gt;  Commnet      注释</li>
</ul></div></body></html>