doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		meta(name="keywords" content="刘庆华，个人博客，个人网站，网站开发")
		meta(name="description" content="刘庆华的个人博客，专注于全栈开发" )
		style.
			body {
				margin:0;
				background:#F6F6F6;
			}
			.notfound {
				text-align:center;
			}
	body
		.notfound
			img(src="./images/404.gif" width="800")
		script(src="./js/jquery-3.1.1.js")
		script(src="./js/layer/layer.js")
		script.
			layer.msg('3秒后回到首页',{
				time: 1500,
				area: ['150px', '50px']
			});
			setTimeout(function(){
				location.href = '/';
			},2000);