doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		meta(name="keywords" content="刘庆华，个人博客，个人网站，网站开发")
		meta(name="description" content="刘庆华的个人博客，专注于全栈开发" )
		style.
			.error {
				text-align:center;
				margin-top:100px;
			}
	body
		.error(data-error=msg)
			img(src="./images/500.jpg")