doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		meta(name="keywords" content="刘庆华，个人博客，个人网站，网站开发")
		meta(name="description" content="刘庆华的个人博客，专注于全栈开发" )
		link(rel="stylesheet" type="text/css" href="./css/normalize.css")
		link(rel="stylesheet" type="text/css" href="./css/index.css")
	body
		#wrap
			#header
				strong 刘庆华的个人网站
				span qingh's Personal Website
			#content
				.blog
					a(href="/blog") » 网络日志（Blog）
			#footer
				a(href="/about") about this blog
				b
				span liuqh.com