html,
body {
	height: 100%;
	background: url(../images/bg.jpg) center center no-repeat;
	background-size: cover;
}

#wrap {
	width: 500px;
	border-radius: 10px;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%)
}

#header {
	width: 95%;
	margin: 0 auto;
	padding: 20px 0;
	border-bottom: 1px solid white;
	text-align: center;
	overflow: hidden;
}

#header strong,
#header span {
	display: block;
}

#header strong {
	line-height: 35px;
}

#header span {
	line-height: 35px;
}

#content {
	padding: 30px 0;
}

#content .blog {
	width: 87%;
	margin: 0 auto;
	padding: 8px 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

#content .blog a {
	color: white;
	padding-left: 5px;
	text-decoration: none;
}

#content .blog:hover {
	background-color: #fefefe;
}

#content .blog:hover a {
	color: #222;
	text-decoration: underline;
}

#footer {
	width: 95%;
	margin: 0 auto;
	padding: 15px 0;
	text-align: right;
	border-top: 1px solid white;
}

#footer a {
	color: white;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer b {
	border-left: 1px solid white;
	margin: 0 12px;
}