body {
	min-width: 1200px;
	font-family: microsoft yahei;
}

ul,
li {
	list-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: microsoft yahei;
}

#header {
	height: 80px;
	overflow: hidden;
	font-size: 14px;
	color: white;
	background: #6dc3ea;
}

#header p {
	float: left;
	margin: 0;
	font-size: 24px;
	line-height: 80px;
	padding-left: 20px;
}

#header .welcome {
	float: right;
	margin: 30px 20px 0 0;
}

#header .welcome span {
	margin-right: 10px;
}

#container {
	overflow: hidden;
}

#sidebar {
	float: left;
	width: 170px;
	min-height: 550px;
	background: #ececec;
}

#sidebar ul {
	margin: 45px 0 0 0;
	padding: 0;
}

#sidebar ul li {
	margin-bottom: 10px;
}

#sidebar a {
	display: block;
	height: 36px;
	line-height: 36px;
	padding-left: 48px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	background: #5ca0dd;
}

#main {
	overflow: hidden;
	margin: 10px 20px 0 185px;
}

#footer {
	overflow: hidden;
	text-align: center;
	background: palegoldenrod;
}