.box{
	overflow: hidden;
}
.tab {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

.tab th,
.tab td {
    padding: 12px 0;
    white-space: nowrap;
    border: 1px solid #efefef;
}

.tab a {
    margin: 0 10px;
}