#sidebar
    ul
        li
            a(href="/admin/articleManage") 文章管理
        li
            a(href="/admin/commentManage") 评论管理
        li
            a(href="/admin/labelManage") 分类管理
        li
            a(href="/admin/userManage") 用户管理