extends include/layout.pug
block head-area-extra-css
	link(rel='stylesheet', href='/css/admin/addUser.css')

block body-area-contents
	.addUser
		dl
			dt 用户名
			dd
				input(type="text" name="username" id="username" maxlength="6")
		dl
			dt 密码
			dd
				input(type="password" name="pwd" id="password" maxlength="16")
		dl
			dt 验证码
			dd
				input.code(type="text" name="code" id="code" maxlength="4") 
				img#codeImg(src="/captchapng")
		dl
			dt &nbsp;
			dd
				input#reg.add-btn(type="button" value="注册")
				img#loading(src="../images/loading.gif")
	script(src='../js/jquery-3.1.1.js')
	script(src='../js/layer/layer.js')
	script(src='../js/md5.min.js')
	script(src="../js/admin/addUser.js")